@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

h1{
  margin-bottom: 25px;
  font-family: Hanken Grotesk, sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2;
  --tw-text-opacity: 1;
  color: rgb(11 12 12 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px){
  h1{
    font-size: 40px;
  }
}

@media (min-width: 1280px){
  h1{
    font-size: 65px;
  }
}

h2{
  padding-top: 0.75rem;
  font-family: Hanken Grotesk, sans-serif;
  font-size: 50px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  line-height: 1.2 !important;
  --tw-text-opacity: 1;
  color: rgb(11 12 12 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px){
  h2{
    padding-top: 0px;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

p{
  font-family: Inter, sans-serif;
  line-height: 1.8;
  --tw-text-opacity: 1;
  color: rgb(63 68 75 / var(--tw-text-opacity, 1));
}

body{
  overflow-x: hidden;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1320px){
  .container{
    max-width: 1320px;
  }
}

.button{
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(11 12 12 / var(--tw-bg-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-family: Inter, sans-serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.48px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding-left: 21px;
  padding-right: 21px;
}

.marquee_span {
  /* @apply relative px-8 after:size-4 after:rounded-full after:bg-slate-100 after:content-[''] after:absolute after:-left-4 after:top-1/2 after:-translate-y-1/2; */
  margin-left: 0.75rem;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-left-\[50px\]{
  left: -50px;
}

.-top-\[400\%\]{
  top: -400%;
}

.bottom-0{
  bottom: 0px;
}

.bottom-10{
  bottom: 2.5rem;
}

.bottom-14{
  bottom: 3.5rem;
}

.left-0{
  left: 0px;
}

.left-1\/2{
  left: 50%;
}

.left-10{
  left: 2.5rem;
}

.left-\[42\%\]{
  left: 42%;
}

.right-14{
  right: 3.5rem;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.top-14{
  top: 3.5rem;
}

.top-\[42\%\]{
  top: 42%;
}

.z-10{
  z-index: 10;
}

.z-\[1\]{
  z-index: 1;
}

.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.inline-block{
  display: inline-block;
}

.\!flex{
  display: flex !important;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.size-4{
  width: 1rem;
  height: 1rem;
}

.size-\[100px\]{
  width: 100px;
  height: 100px;
}

.size-\[55px\]{
  width: 55px;
  height: 55px;
}

.h-\[390px\]{
  height: 390px;
}

.h-full{
  height: 100%;
}

.w-\[400px\]{
  width: 400px;
}

.w-\[415px\]{
  width: 415px;
}

.w-\[calc\(100\%_\+_170px\)\]{
  width: calc(100% + 170px);
}

.w-\[calc\(100\%_-_170px\)\]{
  width: calc(100% - 170px);
}

.w-full{
  width: 100%;
}

.\!max-w-\[500px\]{
  max-width: 500px !important;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes slideDown{
  0%, 100%{
    transform: transtaleY(0);
    opacity: 1;
  }

  50%{
    transform: transtaleY(50%);
    opacity: 0;
  }
}

.animate-slideDown{
  animation: slideDown 0.3s linear 1;
}

.columns-1{
  -moz-columns: 1;
       columns: 1;
}

.columns-2{
  -moz-columns: 2;
       columns: 2;
}

.columns-3{
  -moz-columns: 3;
       columns: 3;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-\[1fr_60px\]{
  grid-template-columns: 1fr 60px;
}

.grid-cols-\[1fr_auto\]{
  grid-template-columns: 1fr auto;
}

.grid-cols-\[40px_1fr\]{
  grid-template-columns: 40px 1fr;
}

.grid-cols-\[6fr_4fr\]{
  grid-template-columns: 6fr 4fr;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-1{
  gap: 0.25rem;
}

.gap-14{
  gap: 3.5rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-7{
  gap: 1.75rem;
}

.gap-y-3{
  row-gap: 0.75rem;
}

.space-y-10 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border{
  border-width: 1px;
}

.border-\[2px\]{
  border-width: 2px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-t{
  border-top-width: 1px;
}

.border-red-500{
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-b-gray-300{
  --tw-border-opacity: 1;
  border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-b-slate-300{
  --tw-border-opacity: 1;
  border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity, 1));
}

.border-b-slate-500{
  --tw-border-opacity: 1;
  border-bottom-color: rgb(100 116 139 / var(--tw-border-opacity, 1));
}

.bg-\[\#1E1F1F\]{
  --tw-bg-opacity: 1;
  background-color: rgb(30 31 31 / var(--tw-bg-opacity, 1));
}

.bg-\[\#DCDFE6\]{
  --tw-bg-opacity: 1;
  background-color: rgb(220 223 230 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EBF2F6\]{
  --tw-bg-opacity: 1;
  background-color: rgb(235 242 246 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F4F7FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F5F8FE\]{
  --tw-bg-opacity: 1;
  background-color: rgb(245 248 254 / var(--tw-bg-opacity, 1));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-slate-100{
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}

.bg-slate-200{
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1));
}

.bg-title-color-opc{
  background-color: rgba(11,12,12,0.05);
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-cover{
  background-size: cover;
}

.fill-black{
  fill: #000;
}

.fill-white{
  fill: #fff;
}

.object-contain{
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-2{
  padding: 0.5rem;
}

.p-4{
  padding: 1rem;
}

.p-6{
  padding: 1.5rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[100px\]{
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-\[110px\]{
  padding-top: 110px;
  padding-bottom: 110px;
}

.\!pt-\[30px\]{
  padding-top: 30px !important;
}

.pb-12{
  padding-bottom: 3rem;
}

.pb-20{
  padding-bottom: 5rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pb-5{
  padding-bottom: 1.25rem;
}

.pb-\[100px\]{
  padding-bottom: 100px;
}

.pt-2{
  padding-top: 0.5rem;
}

.pt-3{
  padding-top: 0.75rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-\[312px\]{
  padding-top: 312px;
}

.pt-\[58px\]{
  padding-top: 58px;
}

.font-Inter{
  font-family: Inter, sans-serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[11px\]{
  font-size: 11px;
}

.text-\[15px\]{
  font-size: 15px;
}

.text-\[27px\]{
  font-size: 27px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.leading-\[1\.7\]{
  line-height: 1.7;
}

.leading-\[1\.8\]{
  line-height: 1.8;
}

.leading-\[28px\]{
  line-height: 28px;
}

.leading-\[32px\]{
  line-height: 32px;
}

.leading-none{
  line-height: 1;
}

.text-\[\#e62415\]{
  --tw-text-opacity: 1;
  color: rgb(230 36 21 / var(--tw-text-opacity, 1));
}

.text-dark-title-color{
  --tw-text-opacity: 1;
  color: rgb(11 12 12 / var(--tw-text-opacity, 1));
}

.text-para{
  --tw-text-opacity: 1;
  color: rgb(36 60 90 / var(--tw-text-opacity, 1));
}

.text-red-500{
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-0{
  opacity: 0;
}

.outline{
  outline-style: solid;
}

.outline-\[1px\]{
  outline-width: 1px;
}

.outline-red-500{
  outline-color: #ef4444;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300{
  transition-duration: 300ms;
}

.duration-500{
  transition-duration: 500ms;
}

.rounded_text:nth-child(1) {
  transform: rotate(-2deg) translateY(-8px);
  position: absolute;
  top: 2px;
}

.rounded_text:nth-child(2) {
  transform: rotate(8deg) translateY(-8px) translateX(10px);
  position: absolute;
  top: 2px;
}

.rounded_text:nth-child(3) {
  transform: rotate(16deg) translateY(-8px) translateX(20px);
  position: absolute;
  top: 2px;
}

.rounded_text:nth-child(4) {
  transform: rotate(24deg) translateY(-8px) translateX(30px);
  position: absolute;
  top: 2px;
}

.rounded_text:nth-child(5) {
  transform: rotate(32deg) translateY(-8px) translateX(40px);
  position: absolute;
  top: 2px;
}

.rounded_text:nth-child(6) {
  transform: rotate(40deg) translateY(-8px) translateX(50px);
  position: absolute;
  top: 2px;
}

.rounded_text:nth-child(7) {
  transform: rotate(50deg) translateY(-8px) translateX(60px);
  position: absolute;
  top: 2px;
}

/* .rounded_text:nth-child(2) {
    transform: rotate(-6deg) translateY(-50px);
} */

#spiner {
  animation-name: spiner;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

/* #spiner i {
    animation-name: paly_icon;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    left: 44px;
    top: 42px;
} */

@keyframes spiner {
  0%{
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(9000deg);
  }
}

/* @keyframes paly_icon {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-9000deg);
    }
} */

.img_animation img {
  transition: all linear 0.3s;
}

.img_animation:hover img {
  animation-name: slideUp;
  animation-duration: 500ms;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes slideUp {
  0%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(50%);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.lalalala {
  border: 3px solid red;
  outline: 3px solid green;
  background: blue;
  padding: 5px;
}

.show-menu {
  top: 100% !important;
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:-bottom-1::after{
  content: var(--tw-content);
  bottom: -0.25rem;
}

.after\:left-0::after{
  content: var(--tw-content);
  left: 0px;
}

.after\:top-0::after{
  content: var(--tw-content);
  top: 0px;
}

.after\:z-10::after{
  content: var(--tw-content);
  z-index: 10;
}

.after\:z-\[2\]::after{
  content: var(--tw-content);
  z-index: 2;
}

.after\:h-\[2px\]::after{
  content: var(--tw-content);
  height: 2px;
}

.after\:h-full::after{
  content: var(--tw-content);
  height: 100%;
}

.after\:w-full::after{
  content: var(--tw-content);
  width: 100%;
}

.after\:bg-\[\#0000004b\]::after{
  content: var(--tw-content);
  background-color: #0000004b;
}

.after\:bg-black::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.after\:transition-all::after{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.after\:duration-500::after{
  content: var(--tw-content);
  transition-duration: 500ms;
}

.after\:content-\[\'\'\]::after{
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:-translate-y-5:hover{
  --tw-translate-y: -1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:text-primary-color1:hover{
  --tw-text-opacity: 1;
  color: rgb(48 103 255 / var(--tw-text-opacity, 1));
}

.hover\:text-purple-600:hover{
  --tw-text-opacity: 1;
  color: rgb(147 51 234 / var(--tw-text-opacity, 1));
}

.hover\:after\:w-0:hover::after{
  content: var(--tw-content);
  width: 0px;
}

.group:hover .group-hover\:right-6{
  right: 1.5rem;
}

.group:hover .group-hover\:top-6{
  top: 1.5rem;
}

@keyframes slideUp{
  0%, 100%{
    transform: transtaleY(0);
    opacity: 1;
  }

  50%{
    transform: transtaleY(50%);
    opacity: 0;
  }
}

.group:hover .group-hover\:animate-slideUp{
  animation: slideUp 0.8s linear 1;
}

.group:hover .group-hover\:fill-primary-color1{
  fill: #3067FF;
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

@media (min-width: 640px){
  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px){
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-\[1fr_auto\]{
    grid-template-columns: 1fr auto;
  }

  .md\:gap-6{
    gap: 1.5rem;
  }

  .md\:pt-0{
    padding-top: 0px;
  }

  .md\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px){
  .lg\:absolute{
    position: absolute;
  }

  .lg\:relative{
    position: relative;
  }

  .lg\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .lg\:block{
    display: block;
  }

  .lg\:grid{
    display: grid;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:max-w-\[1610px\]{
    max-width: 1610px;
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-\[1fr_228px\]{
    grid-template-columns: 1fr 228px;
  }

  .lg\:grid-cols-\[1fr_auto\]{
    grid-template-columns: 1fr auto;
  }

  .lg\:gap-14{
    gap: 3.5rem;
  }

  .lg\:gap-2{
    gap: 0.5rem;
  }

  .lg\:gap-6{
    gap: 1.5rem;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:border-b{
    border-bottom-width: 1px;
  }

  .lg\:p-0{
    padding: 0px;
  }

  .lg\:py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .lg\:py-\[100px\]{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .lg\:pb-9{
    padding-bottom: 2.25rem;
  }

  .lg\:pt-2{
    padding-top: 0.5rem;
  }
}

@media (min-width: 1280px){
  .xl\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:gap-\[106px\]{
    gap: 106px;
  }
}

@media (min-width: 1320px){
  .\32xl\:h-\[605px\]{
    height: 605px;
  }

  .\32xl\:w-\[810px\]{
    width: 810px;
  }

  .\32xl\:\!max-w-\[810px\]{
    max-width: 810px !important;
  }

  .\32xl\:text-\[50px\]{
    font-size: 50px;
  }
}